:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  --bgHeader: #6f38c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}

.header-container {
  width: 100%;
  height: 70px;
  background-color: var(--bgHeader);
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  font-size: 4rem;
  font-weight: 300;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-container {
  width: 550px;
  height: 150px;
  box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 1);
  margin-top: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 100%;
}

input,
button {
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-radius: 5px;
}

input {
  padding: 20px;
  font-size: 2rem;
  letter-spacing: .1rem;
  border: 1px solid #e1ceb5;
  outline: none;
}

input:focus {
  border-color: #7a6994;
}

input::placeholder {
  color: #d5d5d5;
}

button {
  margin-top: 10px;
  font-size: 1.7rem;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: #734bb2;
  color: #fff;
  transition: transform 0.3s;
}

button:hover {
  background-color: #4d2789;
  transform: scale(1.02);
}

.container-list {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-tasks {
  width: 60%;
  height: 40px;
  margin-top: 20px;
  /* border: 1px solid #E1CEB5; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**Todo clase por asignar*/

.tasks-todo {
  position: relative;
  padding: 10px;
  list-style-type: none;
  border: 1px solid #e1ceb5;
  cursor: pointer;
  font-size: 1.9rem;
}

.tasks-todo:not(:last-child) {
  border-bottom: none;
}

/**Todo clase por asignar*/

li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

.icon-checkmark,
.icon-bin2 {
  display: inline-block;
  position: absolute;
  font-size: 1.4rem;
  letter-spacing: 1.8rem;
  cursor: pointer;
  color: #3a3845;
}

.icon-checkmark {
  right: 30px;
  top: 25px;
}

.icon-bin2 {
  right: 0px;
  top: 25px;
}
