$primary: #5c5470;
$secondary: #b9b4c7;
$bg-color: #352f44;
$txt-color: #faf0e6;
$bg-input: #584e71;
$bd-input: #817799;
$ff-base: "Roboto", sans-serif;

@mixin dimension($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

/* Boilerplate */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: $bg-color;
  color: $txt-color;
  font-family: $ff-base;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  place-items: center;

  &__tasks {
    @include dimension(100%, inherit);
    @include flex(column, center, center);

    h1 {
      color: $primary;
    }

    input {
      width: 50%;
      font-size: 18px;
      padding: 10px 15px;
      border: none;
      outline: none;
      border-radius: 3px;
      background: $bg-input;
      color: $txt-color;
      font-family: inherit;
      margin-bottom: 10px;
    }
  }

  &__todo-list {
    @include dimension(100%, inherit);
    @include flex(column, center, center);
  }
}
