$primary: #5c5470;
$secondary: #b9b4c7;
$bg-color: #352f44;
$txt-color: #faf0e6;
$bg-input: #584e71;
$bd-input: #817799;
$font: "Roboto", sans-serif;

@mixin dimension($width, $height: false) {
  @if $height == false {
    width: $width;
  } @else {
    width: $width;
    height: $height;
  }
}

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

/* Boilerplate */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: $bg-color;
  color: $txt-color;
  font-family: $font;
  @include flex(row, center, center);
}

.container {
  min-width: 1000px;
  @include dimension(100%, 100vh);
  // border: 1px solid tomato;

  &__input {
    @include dimension(100%, 100px);
    @include flex(row, center, center);
    // border: 1px solid tan;

    input {
      @include dimension(300px);
      padding: 10px 15px;
      outline: none;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 1.7rem;
      font-family: inherit;
      letter-spacing: 0.3px;
      background: $bg-input;
      color: $txt-color;

      &::placeholder {
        color: $secondary;
      }
    }

    button {
      font-size: 1.6rem;
      border: none;
      outline: none;
      padding: 10px 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      background: #7c709c;
      color: $txt-color;
      transition: background-color 0.2s;

      &:hover {
        background-color: #4c4462;
      }
    }
  }
}

h1 {
  text-align: center;
  font-size: 10rem;
  margin-top: 10px;
  color: $primary;
}
